body > .container {
    padding: 80px 15px 0;
}

/* Start - button in navbar */
.navbar .btn {
    margin-right: 0.2rem;
}
@media (max-width: 768px) {
    .navbar .btn {
        margin-top: 0.2rem;
    }
}
.btn-outline-dark:hover, .btn-outline-dark:focus, .btn-outline-dark:active, .btn-outline-dark.active, .open>.dropdown-toggle.btn-outline-dark {
    color: #fff;
    background-color: #28a745!important;
    border-color: #28a745!important;
}
/* End - button in navbar */